body {
    background-image:url('https://assets.simpleviewinc.com/simpleview/image/upload/c_fill,h_720,q_75,w_1400/v1/clients/newyorkcity/NYC_and_Company_Coalition_3000x2000_01252e2c-3d05-4728-8a2b-0a392d27b821.jpg');
    text-align: center;
  }

.navbar {
    background-color: #333333;
}
